<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <a href="http://www.library.virginia.edu/">University of Virginia Library</a><br />
          PO Box 400113, Charlottesville, VA 22904-4113<br />
          ph: (434) 924-3021, fax: (434) 924-1431, <a href="mailto:library@virginia.edu">library@virginia.edu</a>
      </div>
      <div class="col-md-6">
        <a href="http://www.library.virginia.edu/staff/">Staff Directory</a> | <a href="http://www.virginia.edu/">U.Va. Home</a> | <a href="http://its.virginia.edu/">ITS</a><br />
          <a href="/feedback">Virgo Feedback</a> | <a href="http://www.library.virginia.edu/askalibrarian/">Questions? Ask a Librarian</a> | <a href="http://analytics.lib.virginia.edu/index.php?module=CoreAdminHome&amp;action=optOut&amp;language=en">Tracking Opt-out</a>
          <br /> 
          <a href="http://www.library.virginia.edu/site-search/">Site Search</a> | <a href="http://www.library.virginia.edu/hours/">Hours</a> | <a href="http://www.library.virginia.edu/map/">Map</a> | <a href="http://www.library.virginia.edu/policies/">Policies</a> | <a href="http://www.library.virginia.edu/press/">Press</a> | <a href="http://www.library.virginia.edu/jobs/">Jobs</a><br />
          © 2012 by the Rector and Visitors of the <a href="http://www.virginia.edu/">University of Virginia</a>
      </div>
    </div>
  </div>
</footer>
