<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <nav>
          <ul>
            <li><a href="http://www.library.virginia.edu/">U.Va. Library</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="">Accessibility</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-md-6">
        <div class="pull-right">
          <p>&copy; <%= Date.current.year %> by the Rector and Visitors of the <a href="http://www.virginia.edu/">University of Virginia</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
