<div class="container">
  <div class="col-md-12">
    <div class="info-box">
      <i class="glyphicon glyphicon-lock privacy"></i>
      <p class="larger">Only you can see your saved history</p>
      <p><small>You can save or remvoe your recent searches at any time. You can also clear all of your search history.</small></p>
    </div>
  </div>
</div>

