<div class="darkblue">
  <div class="container">
    <div class="col-md-12">
      <div class="logo pull-left">
        <a href="http://library.virginia.edu">
          <%= retina_image_tag "library-logo.png" %>
        </a>
      </div>
      <div class="ask-librarian pull-right hidden-sm hidden-xs">
        <a href="http://www.library.virginia.edu/askalibrarian/" title="Need help finding something? Ask a librarian through real-time chat." target="_blank" class="or_highlight"><i class="fa fa-question-circle"></i> Ask a Librarian</a><
      </div>
    </div>
  </div>
</div>
