<div class="darkblue">
  <div class="container">
    <div class="col-md-12">
      <div class="logo pull-left"><a href="#">Logo</a></div>
      <div class="ask-librarian pull-right hidden-sm hidden-xs">
        <a href="#">Ask a Librarian</a>
      </div>
    </div>
  </div>
</div>
