<% @page_title = t('blacklight.about.page_title', :application_name => application_name) %>

<div class="saved-searches">
  <div class="container">
    <div class="col-md-12">
      <h2 class='page-heading'><%= t('blacklight.about.title') %></h2>
      <p class="description">University of Virginia Library discovery interface for geospatial (GIS) datasets</p>
    </div>
  </div>
</div>



<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <br><br>
    <p class="read">
    Virgo GIS is a discovery interface that searches geospatial (GIS) datasets. Via this single interface, you will be able to locate and download datasets from Library collections as well as thousands of datasets from our <a href="http://opengeoportal.org/events/" class="anchor">partner institutions</a>.</p>
    <p class="read">
    Currently, the data available in Virgo GIS is publicly available and can be reused and published without restriction. We are in the process of including data that is restricted for use by U.Va. users.</p>
    <p class="read">
    Virgo GIS is an open, collaborative project that was created using GeoBlacklight, which builds on the popular Blacklight Solr-powered discovery interface. If you would like to read more about the features, installation, community, or development of GeoBlacklight, please visit the <a href="https://github.com/geoblacklight/geoblacklight/wiki" class="anchor">wiki</a>.
    </p>
    <h3 class='area-heading light'>What is GIS data?</h3>

    <p class="read">GIS data is information that describes geographic features of our planet. Maps, aerial images, and geospatial datasets are all forms of GIS data. This data can be used with Geographic Information System software like ArcGIS to visualize, measure, manipulate, and analyze physical objects described by a dataset.</p>

    <h3 class='area-heading light'>What type of GIS data will I find in Virgo GIS?</h3>

    <p class="read">Virgo GIS searches:</p>

    <ul class="read">
      <li>Datasets</li>
      <li>Images</li>
      <li>Vector data</li>
      <li>Maps</li>
    </ul>

    <h3 class='area-heading light'>Which formats can I access GIS data in?</h3>

    <p class="read">Data is available in:</p>

    <ul class="read">
      <li>KML</li>
      <li>GeoTiff</li>
      <li>GeoJSON</li>
      <li>Shapefile</li>
    </ul>

    <h3 class='area-heading light'>What can I do with the GIS data I find in Virgo GIS?</h3>
    <p class="read">
      GIS data is often used with GIS software that allows the data to be manipulated, analyzed, or visualized.
    </p>
    <h3 class='area-heading light'>Need help with GIS data?</h3>

    <ul class="read">
      <li >Attend a GIS data workshop held by the Research Data Services group in Alderman Library.<a href="http://scholarslab.org/events/" class="anchor">See the full workshop schedule</a>.</li>
      <li>Visit our <a href="http://guides.lib.virginia.edu/gis" class="anchor">GIS Guide</a> for help with on how to find and manipulating GIS data.</li>
      <li>Take an online course on ArcGIS, QGIS, or using advanced features of Google Maps via the Library’s subscription to <a href="http://www.library.virginia.edu/lynda/" class="anchor">Lynda.com</a>.</li>
    </ul>

    <h3 class='area-heading light'>Questions about using Virgo GIS?</h3>

    <p class="read">Contact <%= mail_to "uvagis@virginia.edu" %></p>

  </div>
</div>
