<% params['bbox'] ||= "-126.210937 4.65308 -32.519531 44.150681" %>

<% unless has_search_parameters? %>
  <%# if there are no input/search related params, display the "home" partial -%>
  <%= render 'home' %>
<% else %>

  <div class="container-fluid">
    <div id="sidebar" class="col-md-3 col-sm-4">
      <%= render 'search_sidebar' %>
    </div>

    <div id="content" class="col-md-12">
      <%= render 'search_results' %>
    </div>
  </div>
<% end %>
