/********************************
  Global Default Classes
  Note: To Be Organized, kind of a dump now
*********************************/

html {
 box-sizing: border-box;
}
*, *:before, *:after {
 box-sizing: inherit;
}

body {
  // fixes fixed-bottom padding
  padding-bottom: 15px;
}

a {
	color: $link-color;
	text-decoration: none;
  // Gets rid of tap active state
  -webkit-tap-highlight-color: transparent;
}

.btn {
  padding: 0 1.1rem !important;
}

/*Utility*/
.bluetext { backgound-color: $search-button-blue; }
.light-green { background-color: $light-green; }

@mixin circle($background, $size) {
  display: inline-block;
  height: $size;
  width: $size;
  line-height: $size;
  border-radius: $size / 2;
  background: $background;
  text-align: center;
}

.leaflet-left {
    right: 10px !important;
}

/* Search History Pages */
.recent-searches, .saved-searches {
  color: #fff;
  min-height: 185px;
}

.recent-searches {
  background: $search-orange;
}
.saved-searches {
  background: $search-green;
}
.search_history .constraint {
  display: block;
  text-indent: -16px;
  padding-left: 16px;
}
.circle {
  position: absolute;
  width: 42px;
  height: 42px;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
}

.filterName { padding-right: 5px; }
.page_links { padding: 20px; width: 100%; }
.page_entries { margin: 0em 2em; }

.constraints-container {
  padding-bottom: 30px;
  display:none; //remove this

}

.text-muted,
.appliedFilter .filterName:after,
.facet-values .remove,
.search_history .filterName,
.search_history .filterSeparator {
  color: #777777;
}

.section-heading {
  margin: 0rem 0 1.84rem 0;
  //margin: 1rem 0 2.84rem 0;
}

.input-group-btn > .btn-search {
  background-color: white;
  color: black;
}

// Button overrides for downloads
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: color("blue", "darken-4");
}

.open > .btn-default.dropdown-toggle:hover, .open > .btn-default.dropdown-toggle:focus, .open > .btn-default.dropdown-toggle.focus {
  background-color: color("blue", "darken-4");
}

.btn-group[itemprop="distribution"] .btn {
  font-size: 10px;
}

.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 3px;
  //box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border: 1px solid #0D3268;
  padding: 5px 0px 5px 15px;
  min-height: 38px;
}
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    z-index: 2;
    margin-left: -3px;
}

.hollow {
  @include circle('#fff', 30px);
  box-shadow: 0 0 0 3px rgba(0,0,0, 0.75);
}

/* To be organized */
.page-heading {
  padding-top: 30px;
  font-size: 3rem;
  font-weight: 300;
}

.leaflet-container {
  font: 12px/1.5 "Open Sans", Arial, Helvetica, sans-serif;
}

.navbar-default .navbar-nav > li > a {
  color: $uva-blue;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f5f5f5;
}

.table > tbody > tr > td {
  border-top: none;
  border-radius: 3px;
}


.navbar {
  margin-bottom: -2px;
  // z-index: 10000; //why?
}
.navbar {
  min-height: 70px;
}

.navbar-form {
  margin-top: 4px;
}
#logo {
  font-family: $logo-fonts;
  font-size: 2em;
  color: $uva-blue;
  padding-top: 15px;
}
i.circle {
  font-size: 18px;
  line-height: 42px;
  color: #fff;
  background-color: $light-green;
  text-align: center;
}
.search_history .constraint {
  padding-left: 25px;
}

h3.index_title {
  line-height: 1.2em;
}

#main-container {
  //padding-top: 108px;
}
.navbar-default {
  padding-top: 8px;
  background-color: #FFFFFF;
}
.info-box, nav {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.navbar-default {
  border-radius: 0px;
  z-index: 1;
}
.navbar-form {
  //width: 45%;
}
.info-box {
  padding: 18px 0px 10px 75px;
  background-color: #fff;
  border-radius: 2px;
  line-height: 1em;
  position: relative;
  margin-top: -50px;
  margin-bottom: 25px;

  i {
    float: left;
    margin-right: 15px;
    color: #fff;
  }

  .larger {
    color: #000;
    font-size: 16px;
    margin-top: 3px;
  }

  small {
    font-size: 14px;
    color: $dark-gray;
  }
}

/*Components*/
body {
  font-family: $body-font;
  font-weight: 400;
  font-style: normal;
}

// TODO: refactor this to be a real name
.darkblue {
  background-color: $header-blue;
  height: 40px;

  a {
    color: $ask-orange;
  }

  .logo img {
    margin-top: 3px;
    padding-top: 7px;
    height: 25px;
  }

  .ask-librarian {
    padding-top: 10px;
  }
}

.orange { background-color: $search-orange }

#header-navbar {

  height: 100px; // TODO mobile overrides
  padding-top: 40px;

  a {
    color: $search-button-blue;
    letter-spacing: -1px;
    text-shadow: 0 -1px 0 #f2f6fc; /* why is there a text shadow */

    &:hover, &:visited, &:link { color: $search-button-blue; }
    &:hover { text-decoration: underline; }
  }

  #user-util-collapse {
    font-size: 16px;
  }

}


/*Map*/

[data-map="home"] {
  height: 600px; // TODO mobile laysouts
}



header[role=banner] {

  padding-bottom: 15px;

  h1 {
    font-size: 2.25em;
    line-height: 1.5em;
    margin: 0;
  }

  .introduction {
    font-size: 1.25em;
    line-height: 1.33333em;
    margin-top: 0;
    color: #999;
  }
}

.search-container {
  background: #fcfcfc;
  border: 1px solid rgba(51,51,51, 0.125);
  border-width: 1px 0 0;

  .search-box {
    /*padding-top: 15px;*/
    /*padding-bottom: 20px;*/

    .explanation {
      margin-left: 2em;
      margin-right: 2em;
      color: #555;
      padding-top: 15px;
      font-size: 18px;
    }
  }
}

#map {
  height: 80vh;
}
.no-pad {
  padding-left: 0px;
  padding-right: 0px;
}
.footer-links li {
  display: inline;

  a {
   padding-left: 10px;
   padding-right: 10px;
  }
}
.footer-padding {
  margin-top: 75px;
}
footer {
  position: fixed;
  z-index: 1; // hides z-index from map attribution
  bottom: 0;
  width: 100%;
  height: 50px;
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 15px;
  background-color: $gray;
  color: $uva-blue;
  line-height: 2em;
  font-size: 16px;

  nav {
    ul {
      list-style-type: none;

      li {
        display: inline;
        padding-right: 35px;
      }

    }
  }

  a {
    color: $uva-blue;
  }
}

.geoblacklight-uva {
  color: $uva-orange;
}

.geoblacklight-multilinestring:before,
.geoblacklight-multipolygon:before
{
  display: inline-block;
  font-family: "geoblacklight-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.geoblacklight-multilinestring:before { content: "\f118"; }
.geoblacklight-multipolygon:before { content: "\f107"; }

/* Blacklight Specific (Mostly Bootstrap) */
.alert {
  margin-top: 25px;
}
.saved_searches, .search_history {
  margin-top: 35px;
}
.alert > .close {
  font-size: 35px;
  line-height: 20px;
  color: #FFF;
  filter: alpha(opacity=100);
  opacity: 1;
}
.alert-info {
  background-color: #585858;
  color: #FFFFFF;
  border: none;
}
.show-document, #sidebar {
  margin-top: 0px;
}
.documentHeader {
  border-bottom: 1px solid #dcdcdc;
  padding: 5px;
  margin-right: 20px;
}
.leaflet-right .leaflet-control {
    margin-right: 25px;
}
.leaflet-top, .leaflet-bottom {
  position: static;
}
.leaflet-control {
  float: right;
}
.leaflet-left .leaflet-control {
  margin-right: 25px;
}
.leaflet-control-attribution {
  display: none;
}
.search-control label {
  font-size: 16px;
}
.menu-header {
  height: 80px;
  background-color: #0D3268;
  width: 100%;
  margin-bottom: 5px;
  position: absolute;
  top: 0;
}
.menu-pane-toggle-button-container {
  top: 25px;
  position: absolute;
  right: 0;
}
.menu-results {
  min-height: 100%;
  margin-bottom: -16px;
}
.menu-footer {
  background-color: #fff;
  position: absolute;
  //bottom: 0;
  width: 100%;
  font-size: 18px;
  text-align: center;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.05);
}
#content {
  padding-left: 0;
  padding-right: 0;
}
.search-input-group {
  padding-top: 12px;
}
.menu-results {
  padding-top: 85px;
}
.show-tools {
  margin-top: 20px;
}
#search {
  color: #383838;
  background-color: #ffffff;
  border-left: 1px solid #dcdcdc;
  box-shadow: none;
}
input#q.search_q.q.form-control {
  padding: 18px;
  font-size: 16px;
}
.menu-link {
  margin-top: 7px;
}
.read {
  font-size: 20px;
  font-weight: 300;
}
.anchor {
  text-decoration: underline;
}
.description {
  font-size: 16px;
}
.area-heading {
  font-size: 26px;
  color: #757575;
  margin: 0rem 0 1.84rem 0;
  padding-top: 25px;
}
.introjs-helperNumberLayer{
  width: 30px !important;
  height: 30px !important;
  background: none;
}
div.introjs-tooltip {
  margin-top: 20px;
}
.clear-bookmarks {
  margin-left: 25px;
}