/*
*= require geoblacklight/application
*= require blacklight_range_limit
*/
@import url("http://fonts.googleapis.com/css?family=Crimson+Text:400,600|Cabin:400,600,400italic");

$serif-fonts: '"Crimson Text", "Times New Roman", Times, serif';
$sans-serif-fonts: 'Cabin, sans-serif';

$uva-orange: #F36F21;
$search-orange: rgb(216,124,34);
$ask-orange: rgb(243,153,59);
$uva-blue: #1D3E6E;
$header-blue: rgb(6,32,56);
$search-button-blue: rgb(16,51,102);
$footer-text-color: #eef2f8;
$anchor-color: rgb(80,146,248);
$search-green: rgb(32,138,155);
$light-green: rgb(167,220,228);
$button-red: rgb(209,60,58);

[data-map="home"] {
  height: 600px;
}

.darkblue {
  background-color: $header-blue;

  a {
    color: $ask-orange;
  }
}

.recent-searches {
  background: $search-orange;
  color: #fff;
}

#header-navbar {
  background-color: #fff;
  color: $search-button-blue;
}


#sidebar {

}

header[role=banner] {

  padding-bottom: 15px;

  h1 {
    font-size: 2.25em;
    line-height: 1.5em;
    margin: 0;
    font-family: $serif-fonts;
  }

  .introduction {
    font-size: 1.25em;
    line-height: 1.33333em;
    margin-top: 0;
    font-family: $serif-fonts;
    color: #999;
  }
}

.search-container {
  background: #fcfcfc;
  border: 1px solid rgba(51,51,51, 0.125);
  border-width: 1px 0 0;

  .search-box {
    padding-top: 15px;
    padding-bottom: 20px;

    .explanation {
      margin-left: 2em;
      margin-right: 2em;
      color: #555;
      padding-top: 15px;
      font-family: Cabin, sans-serif;
      font-size: 18px;

    }
  }
}

footer {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 15px;
  background-color: $uva-blue;
  color: $footer-text-color;
  line-height: 2em;

  a {
    color: $footer-text-color;
    &:hover {
      color: $footer-text-color;
    }
  }
}


.geoblacklight-uva {
  color: $uva-orange;
}

.geoblacklight-multilinestring:before,
.geoblacklight-multipolygon:before
{
   display: inline-block;
  font-family: "geoblacklight-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.geoblacklight-multilinestring:before { content: "\f118"; }
.geoblacklight-multipolygon:before { content: "\f107"; }

