/*
 *= require geoblacklight/application
 *= require blacklight_range_limit
 */
/*@import url("http://fonts.googleapis.com/css?family=Crimson+Text:400,600|Cabin:400,600,400italic");*/
@import url("http://fonts.googleapis.com/css?family=Material+Icons|Crimson+Text:400,600|Open+Sans:400,300,600");
$serif-fonts: '"Crimson Text", "Times New Roman", Times, serif';
/*$sans-serif-fonts: 'Cabin, sans-serif';*/
$logo-fonts: 'trajan-pro, "Trajan Pro", Trajan, Georgia, serif';
$sans-serif-fonts: 'Open Sans, Helvetica, sans-serif';

$uva-orange:         #F36F21;
$search-orange:      #DA7C0A;
$ask-orange:         #F59A2C;
$text-blue:          rgb(16,69,122);
$uva-blue:           #1D3E6E;
$header-blue:        rgb(6,32,56);
$search-button-blue: rgb(16,51,102);
$footer-text-color:  #eef2f8;
$anchor-color:       rgb(80,146,248);
$search-green:       rgb(32,138,155);
$light-green:        rgb(167,220,228);
$button-red:         rgb(209,60,58);
$dark-gray:          #818181;
$gray:               #F2F2F2;

/*Utility*/

.bluetext { backgound-color: $search-button-blue; }
.light-green { background-color: $light-green; }

@mixin circle($background, $size) {
  display: inline-block;
  height: $size;
  width: $size;
  line-height: $size;
  border-radius: $size / 2;
  background: $background;
  text-align: center;
}

.hollow {
  @include circle('#fff', 30px);
  box-shadow: 0 0 0 3px rgba(0,0,0, 0.75);
}
/* To be organized */
.page-heading {
  padding-top: 30px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f5f5f5;
}
.table > tbody > tr > td {
  border-top: none;
  border-radius: 3px;
}
a {
  color: #4C8FFB;
}
.btn {
  text-transform: uppercase;
}
.circle {
  position: absolute;
  width: 42px;
  height: 42px;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
}

i.circle {
  font-size: 18px;
  line-height: 42px;
  color: #fff;
  background-color: $light-green;
  text-align: center;
}
.search_history .constraint {
  padding-left: 25px;
} 

.info-box {
  padding: 15px 75px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  line-height: 1em;
  position: relative;
  margin-top: -50px;
  margin-bottom: 25px;

  i {
    float: left;
    margin-right: 15px;
    color: #fff;
  }

  .larger {
    color: #000;
    font-size: 16px;
    margin-top: 3px;
  }

  small {
    font-size: 14px;
    color: $dark-gray;
  }
}

/*Components*/
body {
  font-family: $sans-serif-fonts;
  font-weight: 400;
  font-style: normal;
}

// TODO: refactor this to be a real name
.darkblue {
  background-color: $header-blue;
  height: 40px;

  a {
    color: $ask-orange;
  }

  .logo img {
    padding-top: 7px;
  }

  .ask-librarian {
    padding-top: 10px;
  }
}

.orange { background-color: $search-orange }

#header-navbar {

  height: 100px; // TODO mobile overrides
  padding-top: 40px;

  a {
    color: $search-button-blue;
    letter-spacing: -1px;
    text-shadow: 0 -1px 0 #f2f6fc; /* why is there a text shadow */
    color: $search-button-blue;

    &:hover, &:visited, &:link { color: $search-button-blue; }
    &:hover { text-decoration: underline; }
  }

  .virgo_logo {
    display: block;
    font-size: 2em;
    font: $logo-fonts;

    a { font-size: 36px; }
  }

  #user-util-collapse {
    font-size: 16px;
  }

}


/*Map*/

[data-map="home"] {
  height: 600px; // TODO mobile laysouts
}

/*search*/


.recent-searches {
  background: $search-orange;
  color: #fff;
  min-height: 185px;
}


#sidebar {

}

header[role=banner] {

  padding-bottom: 15px;

  h1 {
    font-size: 2.25em;
    line-height: 1.5em;
    margin: 0;
    font-family: $serif-fonts;
  }

  .introduction {
    font-size: 1.25em;
    line-height: 1.33333em;
    margin-top: 0;
    font-family: $serif-fonts;
    color: #999;
  }
}

.search-container {
  background: #fcfcfc;
  border: 1px solid rgba(51,51,51, 0.125);
  border-width: 1px 0 0;

  .search-box {
    /*padding-top: 15px;*/
    /*padding-bottom: 20px;*/

    .explanation {
      margin-left: 2em;
      margin-right: 2em;
      color: #555;
      padding-top: 15px;
      font-family: Cabin, sans-serif;
      font-size: 18px;

    }
  }
}

footer {
  margin-top: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: $gray;
  color: $search-button-blue;
  line-height: 2em;
  font-size: 16px;

  nav {
    ul {
      list-style-type: none;

      li {
        display: inline;
        padding-right: 35px;
      }

    }
  }

  a {
    color: $search-button-blue;
    &:hover {
      color: $footer-text-color;
    }
  }
}


.geoblacklight-uva {
  color: $uva-orange;
}

.geoblacklight-multilinestring:before,
.geoblacklight-multipolygon:before
{
  display: inline-block;
  font-family: "geoblacklight-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.geoblacklight-multilinestring:before { content: "\f118"; }
.geoblacklight-multipolygon:before { content: "\f107"; }

/*Search*/
.filterName { padding-right: 5px; }

.page_links { padding: 20px; width: 100%; }
.page_entries { margin: 0em 2em; }
